<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show book</title>
</head>

<body>
    <h1> BOOK INFORMATION </h1>
    <h2> <%= book.title %> </h2>
    <h2> <%= book.description %> </h2>
    <p>
        <a href="/books/<%= book.id %>/edit"> Edit </a>
    </p>
    <footer>
        <a href="/books"> All books </a>
    </footer>
</body>

</html>